---
import { formatDate } from "@/utils/index";

const { frontmatter, url } = Astro.props;

const { title, image, description, author, date } = frontmatter;
---

<article class="shadow-lg rounded-tr-[50px]  rounded-tl-[50px]">
	<a href={url} aria-hidden="true" tabindex="-1">
		<div transition:name={`post ${url} box`}>
			<img
				src={image.src}
				alt={image.alt}
				class="rounded-tr-[50px] rounded-tl-[50px] h-[350px] w-[100%] object-cover"
				transition:name={`post ${url} image`}
			/>
		</div>
		<div class="p-5">
			<div
				class="flex justify-between items-center mb-10"
				transition:name={`post ${url} author`}
			>
				<span class="text-gray-400 text-sm">{author}</span>
				<time class="text-gray-400 text-sm">{formatDate(date)}</time>
			</div>
			<h2 class="text-gray-600 text-2xl" transition:name={`post ${url} title`}>
				{title}
			</h2>
			<p class="text text-gray-500 mt-10" transition:name={`post ${url} desc`}>
				{description}
			</p>
		</div>
	</a>
</article>
